.tabWrap {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.tab {
    width: 49.5%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #ffffff;
    background-color: #3a2c2c;
}
.tab > p {
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
}
.active {
    background-color: #ffffff;
    color: #3a2c2c;
    border: 1px solid #3a2c2c;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    margin-bottom: -1px;
}

@media screen and (max-width: 450px){
    .tab > p{
        letter-spacing: 3px;
    }
}