.tabWrap {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* margin-bottom: 15px; */
  }
  .tab {
    width: 33%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #ffffff;
    background-color: #3a2c2c;
  }
  .tab > p {
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .active {
    background-color: #ffffff;
    color: #3a2c2c;
    border: 1px solid #3a2c2c;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    margin-bottom: -1px;
  }
  @media screen and (max-width: 375px){
    .tab > p{
        letter-spacing: 3px;
    }
}