/* .search {
  width: 200px;
  height: 40px;
  border: 1px solid #b3b3b3;
  display: flex;
  border-radius: 20px;
  align-items: center;
  font-size: 20px; 
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}
.search > select {
  width: calc(100% - 20px);
  border: none;
}

.search > select:focus-visible {
  outline: none;
}  */
