/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.react_icons path {
  stroke: currentColor;
}

* {
  box-sizing: border-box;
}

.swal2-styled.swal2-confirm{
  /* background-color:#7066e0 */
  background-color:#82CA35;
  margin:0
}

.swal2-styled.swal2-confirm:focus{
  box-shadow: 0 0 0 3px #82ca357f;
}