.main {
    padding-top: 100px;
    min-height: 830px;
    /* background-color: rgb(243, 243, 243); */
}

#root * {
    list-style: none;
}

.cursor_pointer {
    cursor: pointer;
}

.firstPagePadding{
    transform: translateY(-100px);
}
